@import url('https://fonts.googleapis.com/css?family=Orbitron&display=swap');

.App {
    font-family: 'Nunito', sans-serif;
}

.App-light{
    color:#232127;
}

.App-dark{
    color:#e5e3e8;
}

h1 {
    text-align: center;
    margin: 10px 0 10px 0;
    color: #ff9f1a;
}
h1:hover {
    color: #ff9f1a;
}

html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: 'Orbitron', sans-serif;
    /* background-color: #f7f1e3; */
    background-image: url("https://images.pond5.com/galaga-arcade-game-space-and-footage-033608965_iconl.jpeg")
}